# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

App/Test/Test

*.kvs

App/ParticleBasedRendering/ParticleBasedRendering
App/ExternalFace/ExternalFace
App/Isosurface/Isosurface
App/YYZ2Cart/YYZ2Cart
App/YYZ2Cart/output.kvsml
App/YYZ2Polar/YYZ2Polar
App/YYZ2Polar/output.kvsml
App/SlicePlane/SlicePlane
App/ArrowGlyph/ArrowGlyph
App/.DS_Store
App/JASSE/IsosurfaceAndSlicePlane/IsosurfaceAndSlicePlane
App/JASSE/ParticleBasedRendering/ParticleBasedRendering
App/Streamline/Streamline
App/YYZ2Cart/output_value.dat
App/YYZ2Polar/output_value.dat
Test/ExternalFaces/ExternalFaces
Test/Isosurface/Isosurface
Test/SlicePlane/SlicePlane
